
.cuerpo {

    margin: 2%;
}

header nav ul li {

        display: inline-block;
        background-color: rgb(241, 210, 32);
        padding: 1%;
        border-radius: 10% 0%;
        margin: 36px;
        border: red solid 2px;
        list-style-type: decimal;
        
}

  
 .header li a:active{

        color: #420202;

 }



.header li a:link{

        color: #d80606;
}

/*
.header li a:hover{

        color: rgb(15, 4, 167);

}

*/

.header li:hover{

       box-shadow: 2px 7px 5px  #ff002b;
}

header nav ul li a{

        text-decoration: none;
        color: black;
        padding: 9px;

}


.barra-buscar{

    background-color: #d10a0a;
}


.h1_index{

    color: #00aeff;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    
}

.parrafo1{
    font-family: 'Times New Roman', Times, serif;
}

.inicio{

    color: #00aeff;
    font-family:'Times New Roman', Times, serif
}

.productos{

    color: #00aeff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;

}


.h2cafe{

    font-family: 'Times New Roman', Times, serif;
    color: #00aeff;
}

.pcafe{

    font-family: 'Times New Roman', Times, serif;
 
}

.h2aguacate{

    font-family: 'Times New Roman', Times, serif;
    color: #00aeff;
}

.paguacate{

    font-family: 'Times New Roman', Times, serif;
}

.h2tomate{

    font-family: 'Times New Roman', Times, serif;
    color: #00aeff;
}

.ptomate{

    font-family: 'Times New Roman', Times, serif;

}

.p2tomate{

    font-family: 'Times New Roman', Times, serif;
}

.h1historia{

    font-family: 'Times New Roman', Times, serif;
    color: #00aeff;
    font-size: 45px;
}

.h2historia{

    font-family: 'Times New Roman', Times, serif;
    color: #7700ff;

}

.phistoria{

    font-family: 'Times New Roman', Times, serif;
    
}

.valores{
    font-family: 'Times New Roman', Times, serif;
}

.h1contacto{

    font-family: 'Times New Roman', Times, serif;
    color: #00aeff;
    font-size: 30px; 
}
.cuerpo{

    font-family: 'Times New Roman', Times, serif;
}



.imagen{

    width: 40%;
    height: 70%;
    border-radius: 10%;
    border-style:solid;
    border-color: #d41313;
    box-shadow: 11px 11px 15px  #ea00ff ;
    cursor: pointer;
    transform: scale(1.03);
    transform: translate(-10px,10px);
}

.boton{

background-color: #d10a0a;
color: #0fdada;
font-size: 5px 3%;
border: yellow;
padding: 0.2% ;
border-radius: 5px;
cursor: pointer;
position: relative;
overflow: hidden;


}

   


.Cafe{

    width: 25%;
    height: 100%;
    border-radius: 10%;
    border-style: solid;
    border-color: #024207;
    box-shadow: 11px 19px 15px #420202;
    cursor: pointer;
    transform: scale(1.03);
    transform: translate(-10px, 10px);
}

.aguacate{

        width: 50%;
        height: 10%;
        border-radius: 10%;
        border-style: ridge;
        border-color: chartreuse;
        box-shadow: 11px 19px 23px #024207;
        cursor: pointer;
        transform: scale(1.03);
        transform: translate(3.6);

}   


.tomate{

        width: 40%;
        height: 10%;
        border-radius: 10%;
        border-style: double;
        border-color: #ea00ff;
        box-shadow: 11px 11px 23px #d41313;

}


.header {
    background-color: #333;
    padding: 1%;
    
  }


  /* Estilos para la barra de búsqueda */
  .search-form {
    position: absolute; /* Posicionamiento absoluto */
    top: 10.12%; /* Ajustar la distancia desde la parte superior */
    right: 10px; /* Ajustar la distancia desde la derecha */
    display:flex;
    align-items: center; /* Centrar verticalmente los elementos del formulario */
  }
  
  .search-form input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .search-form button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ff6600;
    color: white;
    border: #ff6600 solid 2px;
    cursor: pointer;
    

    
  }
  
  .search-form button:hover {
    background-color: #07cc00;
    border: #07cc00 solid 2px ;
    
  }
  
  